@model Productos

<div class="alert alert-primary" role="alert">
  Compra realizada con éxito :) 
</div>
<p>Usted ha comprado: @Model.Nombre</p> 
<p>Precio: @Model.PrecioUnit</p>
<p>Descripcion: @Model.Descripcion</p>
    <form method="post">
        <div>
            <label>Enviar a su correo: </label>             
            <input type ="hidden" value="@Model.Nombre" id="nombre">                   
            <button class="btn btn-danger btn-lg">Enviar</button>                
        </div>
    </form>
<p><img src="@Model.Foto"></p>