@model List<Productos>

@if (TempData["mensaje"] != null) {
    <div class="alert alert-success">
        @TempData["mensaje"]
    </div>
}

<h1>Productos</h1>

<div class="row">
    @foreach (var item in Model){
    <div class="col-md-4 text-center my-3">
        @if (@item.Foto != null) {
            <img src="@item.Foto" width="100px" height="100px">
            <div class="container">
                    
            </div>
        }

        <p>@item.Nombre</p>

        <div>
            <a asp-action="QuitarProd" asp-route-codi="@item.Id" class="btn btn-danger btn-lg">Eliminar</a>
        </div>
        

        
        


    </div>
    }
</div>      
